* {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  overflow: hidden;
}

body {
  margin: 0;
}
section {
  margin: 8px
}

header span {
  /*background-image: none:*/
  background-color: orange;
  color: #1c8181;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  float: left;
  padding: 1.5em;
  margin-left: 50px;
}

.nav_header {
  display: inline-block;
  margin-left: 5%;
}
/*
.nav_header a {
  background-color: black;
  width: : auto;
  height: auto;
  display: block;
  margin: 0.5em;
  font-size: 1.5em;
}*/

.nav_main {
}

.nav_main a {
  font-size: 1em;
  margin: 1em 0em 1em;
  float: left;
}

.nav_main a:first-child:before {
    content: "";
}

.nav_main a:before{
    content: " | ";
    padding: 0 10px;
}

.div_rut {
  clear: left;
}

/* OTTO */
ul {
    list-style-type: none;
    margin: 0;
    margin-top: 3em;
    padding: 0;
    overflow: hidden;
    background-color: orange;
    align-items: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #1c8181;
}

.cuadrito {
  width:33%;
  border-width: 1px;
  border-color: black;
}
