header {
  background-color: white;
}

body {
  margin: 0;
}
section {
  margin: 8px
}

header span {
  /*background-image: none:*/
  background-color: orange;
  color: #1c8181;
  font-size: 3em;
  font: center;
  float: left;
  padding: 15px;
  margin-left: 50px;
}

.nav_header {
  float:right;
}
/*
.nav_header a {
  background-color: black;
  width: : auto;
  height: auto;
  display: block;
  margin: 0.5em;
  font-size: 1.5em;
}*/

.nav_main {
  clear: both;
}

.nav_main a {
  background-color: pink;
  font-size: 1em;
  margin: 1em;
  float: left;
}

.div_rut {
  clear: left;
}

/* OTTO */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align-items: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
